body {
margin: 0;
font-family: "Verdana";
}
h1, h2, h3, h4, p, ul, label{
color: #fff;
background-color: #83bbc7;
}
label  {
background: none;
color: #000;
}
p, ul {
color: #000000;
background-color: #c3e1e8;
}
#gt-r {
position: fixed;
float: right;
width: 20%;
padding: 10px;
padding-top: 20px;
height: fit-content;
right: 0;
}
#left {
float: left;
width: 80%;
}
.all {
margin-left: auto;
margin-right: auto;
width: 80%;
background-color: #eeeeee;
padding: 1%;
padding-top: 10px;
padding-bottom: 10px;
height: 100%;
}
}
body {
background-color: #fff;
}
a {
color: #45646b;
}
a:hover {
color: #83bbc7;
}
